.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  font-family: "Segoe UI", sans-serif;
}

.auth-form {
  background: #ffffff;
  padding: 32px;
  border-radius: 16px;
  width: 360px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  border: 1px solid #CBCBCB;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

.auth-form h2 {
  text-align: center;
  color: #333;
  margin: 0;
}

.subtitle {
  text-align: center;
  font-size: 13px;
  color: #777C6D;
  margin-bottom: 6px;
}

/* Input */
.input-group {
  display: flex;
  align-items: center;
  background: #EEEEEE;
  border: 1px solid #CBCBCB;
  border-radius: 10px;
  padding: 10px;
}

.input-group input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

/* Button */
.auth-form button {
  background: #777C6D;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.auth-form button:hover {
  background: #5f6457;
}

/* Messages */
.error {
  color: #d9534f;
  text-align: center;
}

.success {
  color: #4CAF50;
  text-align: center;
}

.switch-link {
  text-align: center;
  font-size: 14px;
}

.switch-link a {
  color: #777C6D;
  font-weight: 600;
}